 
 <div class="block">
 


 <br> 
	<div class="row-fluid block-sm2">
     <h1 class="pull-center"><strong>GeoCacheTalks</strong></h1>
     <p class="lead pull-center">Hide a Cache and it lets you know when it is found</p>
<br><br><br><br>
 <div class="lead pull-center">

  <%= link_to t('.new', :default => t("helpers.links.Sign Up Now")),
              new_user_registration_path, :class => 'btn btn-flat btn-primary' %>
	</div>
	</div>	
  <br><br><br><br>
   <br><br><br>
	<div class="row-fluid">
		<h3 class="pull-center ">Easy Process</h3>
	</div>	
  <br><br>
  <div class="row-fluid">
  	<div class="span12">
      <div class="span3 block block-sm offsetHalf1">
      <h2>Create</h2>
       	Create a new geocache and get a unique QR Code.
      </div>
      <div class="span3 block block-sm">
      <h2>Hide</h2>
        Label the cache with the provided QR Code and hide.
      </div>
      <div class="span3 block block-sm">
      <h2>Expect</h2>
        Expect an email when someone find your cache
      </div>
    </div>
	</div>
</div><!---/cont---->
<br><br>
 
  <br><br>
</div>
</div>

  <br><br>

  <br><br>
